@inherits TabContainerBase<TabPage>
<div style="width: 100%;">
    @foreach (TabPage tabPage in Pages)
    {
        @if (tabPage == ActivePage)
        {
            <PrimaryButton OnClick="() => ActivatePage(tabPage)">
                @tabPage.Text
            </PrimaryButton>
        }
        else
        {
            <SecondaryButton OnClick="() => ActivatePage(tabPage)">
                @tabPage.Text
            </SecondaryButton>
        }
    }
</div>
<CascadingValue Value="this">
    <div>
        @ChildContent
    </div>
</CascadingValue>