@inherits TabContainerBase<TabPage>
<div style="width: 100%;">
    @foreach (TabPage tabPage in Pages)
    {
        var content = tabPage.HeaderTemplate ?? ((RenderFragment)(@<span>@tabPage.Text</span>));

        if (tabPage == ActivePage)
        {
            <PrimaryButton OnClick="() => ActivatePage(tabPage)">
                @content
            </PrimaryButton>
        }
        else
        {
            <SecondaryButton OnClick="() => ActivatePage(tabPage)">
                @content
            </SecondaryButton>
        }
    }
</div>
<CascadingValue Value="this">
    <div>
        @ChildContent
    </div>
</CascadingValue>