<CascadingValue IsFixed="true" Value="this">
    <CascadingValue IsFixed="true" Value="_editContext">
        @if (FullHeight == false)
        {
            <div @key="_editContext!.GetHashCode()" @onkeydown="KeyDown">
                @if (ChildContent != null)
                {
                    @ChildContent(_editContext!)
                }
            </div>
            return;
        }
        else
        {
            <div @key="_editContext!.GetHashCode()" style="height: 100%;" @onkeydown="KeyDown">
                @if (ChildContent != null)
                {
                    @ChildContent(_editContext!)
                }
            </div>
            return;
        }
    </CascadingValue>
</CascadingValue>