<BootstrapPrimaryButton OnClick="TestToast" >
    Test Toast
</BootstrapPrimaryButton>
<div>
    <BootstrapPrimaryButton OnClick="TestMessageAsync">
        Test Messageboxes
    </BootstrapPrimaryButton>
</div>