<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<HeadContent>
    <link href="_content/BasicBlazorLibrary/custom.css" rel="stylesheet" />
    <link href="_content/BasicBlazorLibrary/reducedmotion.css" rel="stylesheet" />
    @foreach (var item in ExtraCssFiles)
    {
        <link href="@item" rel="stylesheet" />
    }
</HeadContent>
@{
    //the purpose of this is to have several deep classes to replace bootstrap stuff.  will contain all the common stuff i had from bootstrap plus one for testing.
    //is used from custom layouts but can use this alone so a person is not forced to use the custom layouts.
}
<div>
    @ChildContent
</div>

