::deep .btn {
    display: inline-block;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
::deep .usernoselect{
    user-select: none;
}
::deep .testred{
    color: red;
}
::deep div{
    user-select: none;
}
::deep button{
    cursor: pointer;
    -webkit-appearance: button;
    overflow: visible;
}
::deep .bold{
    font-weight: bold;
}
::deep .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
    ::deep .table th {
        padding: .25rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    ::deep .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }
::deep .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05)
}
::deep .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}
::deep th{
    text-align: inherit;
}
::deep table{
    border-collapse:collapse;
}
::deep .table td{
    padding: .25rem;
}
::deep input button{
    line-height: inherit;
    font-family: inherit;
    margin: 0;
}