@inherits JavascriptComponentBase
@if (MainSource == "")
{
    <div>You must have at least the main source in order to use the control</div>
    return;
}
@if (HoverSource == "")
{
    <img src="@HoverSource" style="margin-left: @MarginLeft; cursor: pointer;" @onclick="OnClick" />
    return;
}
<img @ref="_element" style="cursor: pointer; margin-left: @MarginLeft" @onclick="OnClick" @onmouseover="HoverAsync" @onmouseout="UnhoverAsync" src="@MainSource" />