@using BasicBlazorLibrary.Components.CssGrids
@if (UseGrid == false && Row > 0)
{
    <div>You must use a grid if the row is greater than 0</div>
    return;
}
@if (UseGrid == false || UseGrid && Row == 0)
{
    <span style="margin-right: 2px; font-size: @FontSize; @GetStyle">
        @HeaderText:
    </span>
    <span style="margin-right: 20px; font-size: @FontSize">
        @MainText
    </span>
    return;
}
<GridItem Row="@Row">
    <div style="font-size: @FontSize; font-weight: bold">
        @HeaderText:
    </div>
</GridItem>
<GridItem Row="@Row" Column="2">
    <div style="font-size: @FontSize;">
        @MainText
    </div>
</GridItem>