@typeparam TValue
@attribute [CascadingTypeParameter(nameof(TValue))]
@foreach (var item in Data)
{
    <div style="font-size: @FontSize; cursor: pointer;" @onclick="() => OnItemSelected.InvokeAsync(item)">
        @ChildContent!(item)
    </div>
}