.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
    .btn-primary:hover {
        color: #fff;
        background-color: #0b5ed7;
        border-color: #0a58ca;
    }