@typeparam TValue
@attribute [CascadingTypeParameter(nameof(TValue))]
@* not sure if we need cascading parameter component or not (?) *@
@if (_loading)
{
    return;
}
@if (_status == EnumStatus.NoneToBegin)
{
    @if (NoneContent != null)
    {
        <div>
            @NoneContent
        </div>
        return;
    }
    <div>There was no work to begin with</div>
    return;
}
@if (_status == EnumStatus.Completed)
{
    if (CompletedContent != null)
    {
        <div>
            @CompletedContent
        </div>
        return;
    }
    <div>You completed the work</div>
    return;
}
<div>
    @WorkTitle #: @UpTo   Total @ItemList.Count
</div>
<div @key="ItemList[_index]!.GetHashCode()" style="height: 97%; margin-top: 5px;">
    @WorkContent!(ItemList[_index])
</div>
