@inherits AttributeBase
<CascadingValue IsFixed="true" Value="this">
    <div @onclick="Submit" style="height: @ContainerHeight; width: @ContainerWidth; background-color: @BackgroundColor; @CssStyle" class="relative @CssClass">
        @if (ChildContent != null)
        {
            @ChildContent
        }
    </div>
</CascadingValue>