@if (StopClickPropagation)
{
    <div style="pointer-events:auto; @GetStyle()" @onclick:stopPropagation="true">
        @ChildContent
    </div>
}
else
{
    <div style="@GetStyle()">
        @ChildContent
    </div>
}