<CascadingValue Value="this">
    <div style="height: @Height; background-color: @BackgroundColor; color: @TextColor; overflow: hidden; padding: 2px;">
        @ChildContent
    </div>
</CascadingValue>
