@using BasicBlazorLibrary.Components.CssGrids
@if (MediaList == null)
{
    <p>Needs media list in order to use the flexible orientation component</p>
    return;
}
@if (MediaList.ScreenOrientation == ParentClasses.EnumScreenOrientation.Portrait)
{
    <GridContainer Rows="@GetRows(false)">
        @if (HeaderContent != null)
        {
            <GridItem>
                @HeaderContent
            </GridItem>
            @if (SideOrder == EnumSideLocation.Last)
            {
                <GridItem Row="2">
                    @MainContent
                </GridItem>
                <GridItem Row="3">
                    @SideContent
                </GridItem>
            }
            else
            {
                <GridItem Row="2">
                    @SideContent
                </GridItem>
                <GridItem Row="3">
                    @MainContent
                </GridItem>
            }
        }
        else
        {
            if (SideOrder == EnumSideLocation.Last)
            {
                <GridItem>
                    @MainContent
                </GridItem>
                <GridItem Row="2">
                    @SideContent
                </GridItem>
            }
            else
            {
                <GridItem>
                    @SideContent
                </GridItem>
                <GridItem Row="2">
                    @MainContent
                </GridItem>
            }
            
        }
    </GridContainer>
    return;
}
<GridContainer Columns="@GetColumns" Rows="@GetRows(true)">
    @if (HeaderContent != null)
    {
        @if (SideOrder == EnumSideLocation.Last)
        {
            <GridItem>
                @MainContent
            </GridItem>
            <GridItem Column="2">
                <div>
                    @HeaderContent
                </div>
                <div>
                    @SideContent
                </div>
            </GridItem>
        }
        else
        {
            <GridItem>
                @SideContent
            </GridItem>
            <GridItem Column="2">
                <div>
                    @HeaderContent
                </div>
                <div>
                    @MainContent
                </div>
            </GridItem>
        }
    }
    else
    {
        @if (SideOrder == EnumSideLocation.Last)
        {
            <GridItem>
                @MainContent
            </GridItem>
            <GridItem Column="2">
                @SideContent
            </GridItem>
        }
        else
        {
            <GridItem>
                @SideContent
            </GridItem>
            <GridItem Column="2">
                @MainContent
            </GridItem>
        }   
    }
</GridContainer>