<PopupCenteredFull
                   HeaderTitle="@Title"
                   CloseButtonClick="Cancel"
                   ShowCloseButton="true"
                   Width=""
                   Height=""
                   Style="margin: 5px; user-select:none;"
                   Visible="true"
                   
                   >
    @Message
    <div class="buttondiv">
        <DangerButton OnClick="DoConfirm">
            Yes
        </DangerButton>
        <PrimaryButton OnClick="Cancel">
            No
        </PrimaryButton>
    </div>
</PopupCenteredFull>