
.cell {
    width: 24vmin;
    height: 24vmin;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.action {
    width: 24vmin;
    height: 48vmin;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 7vmin;
}

.singlelarge {
    width: 24vmin;
    height: 24vmin;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 7vmin;
}
.number {
    font-size: 22vmin;
    line-height: 1;
}

.hidden {
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.minus {
    background-color: black;
    width: 95%;
    height: 30%;
}
.side {
    font-size: 5vmin;
}
.finaldisplay {
    padding: 1px;
    font-size: 15vmin;
    /*ai suggested below*/
    text-align: right;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 1vmin;
    overflow-x: auto;
    white-space: nowrap;
    min-height: 1.2em;
}