@using css1 = BasicBlazorLibrary.Components.Basic.BasicStyleComponent;
<PopupCenteredFull ShowHeader="false"
                   Visible="true"
                   Width=""
                   Height=""
                   Style="padding: 5px;">
    @{
        var list = Messages();
    }
    @if (list.Count == 1)
    {
        @Message
    }
    else
    {
        @foreach (string message in list)
        {
            <div>
                @message
            </div>
        }
    }
    <div>
        <PrimaryButton OnClick="CloseClicked">
            Okay
        </PrimaryButton>
    </div>
</PopupCenteredFull>