@inherits PopupContentBase
@if (Visible)
{
    <div @onclick="PrivateBackgroundClicked" style="@TopModalStyle() ">
        <div style="@GetPositionStyle()">
            @GetAllContent
        </div>
    </div>
}
