@inherits PopupContentBase
@if (Visible)
{
    <div @onclick="PrivateBackgroundClicked" style="@TopModalStyle() justify-content:center;">
        <div style="position: relative; top: 50px;">
            @GetAllContent
        </div>
    </div>
}