@inherits PopupBase
@if (Visible)
{
    <StopClickPropagation>
        <div class="topmodal" style="z-index: @ZIndex; background-color: @BackgroundColor; @Style">
            @ChildContent
        </div>
    </StopClickPropagation>
    
}