@inherits PopupContentBase
@if (Visible)
{
    <div @onclick="PrivateBackgroundClicked" style="@TopModalStyle() ">
        <div style="position: absolute; left: @Left; top: @Top">
            @GetAllContent
        </div>
    </div>
}