@using BasicBlazorLibrary.Components.InputNavigations
@using BasicBlazorLibrary.Components.Forms
@inherits HotkeyComponentBase
@implements IDataEntryGrid
<InputTabOrderNavigationContainer @ref="_tabs" FocusFirst="true">
    <SubmitForm OnValidSubmit="OnValidSubmit"
                OnSubmit="OnSubmit"
                OnInvalidSubmit="OnInvalidSubmit"
                Model="Model"
                EditContext="EditContext">
        <CascadingValue Value="this">
            <div @ref="MainElement" tabindex="0" style="display: grid; grid-template-columns: max-content 1fr; column-gap: 5px; grid-row-gap: 5px;">
                @ChildContent
            </div>
        </CascadingValue>
        <DataAnnotationsValidator />
        <ValidationSummary />
    </SubmitForm>
</InputTabOrderNavigationContainer>