@using BasicBlazorLibrary.Components.InputNavigations
@inherits HotkeyComponentBase
@implements IDataEntryGrid
<InputTabOrderNavigationContainer @ref="_tabs" FocusFirst="true">
    <CascadingValue Value="this">
        <div @ref="MainElement" tabindex="0" style="display: grid; grid-template-columns: max-content 1fr; column-gap: 5px; grid-row-gap: 5px;">
            @ChildContent
        </div>
    </CascadingValue>
</InputTabOrderNavigationContainer>