@if (XAttribute is null)
{
    return;
}
<span> </span>
<span class="attribute-name">@XAttribute.Name</span><span class="attribute-name">=</span><span class="customspan">"</span><span class="attribute-value customspan">@XAttribute.Value</span><span class="customspan">"</span>
