html, body, div {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html, body {
    margin: 0px;
}
.btn {
    display: inline-block;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.usernoselect {
    user-select: none;
}

div {
    user-select: none;
}

button {
    cursor: pointer;
    -webkit-appearance: button;
    overflow: visible;
}

.bold {
    font-weight: bold;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

    .table th {
        padding: .25rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05)
}

.thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

th {
    text-align: inherit;
}

table {
    border-collapse: collapse;
}

.table td {
    padding: .25rem;
}

input button {
    line-height: inherit;
    font-family: inherit;
    margin: 0;
}

textarea {
    font-family: inherit;
    line-height: inherit;
    margin: 0;
    font-size: inherit;
    overflow: auto;
    -webkit-text-size-adjust: 100%;
    appearance: none;
}