@using BasicBlazorLibrary.Components.CalendarPopups
@typeparam TValue
@inherits EnterBase<TValue>
@if (_invalid)
{
    <p>You must use date or nullable date</p>
    return;
}
<input type="text"
       @onclick:stopPropagation="true" @onclick:preventDefault="true"
       id="@TabIndex"
       class="@CssClass"
       placeholder="@Placeholder"
       @attributes="AdditionalAttributes"
       @ref="InputElement" />

@if (TabContainer.OtherScreen)
{
    <CalendarSimpleModal Cancelled="Cancelled"
                            @bind-DateToDisplay="_dateChosen"
                            ChoseDate="ChoseDate" />
}