@inherits JavascriptComponentBase
@if (Exited)
{
    <div>Goodbye</div>
    return;
}
@if (ErrorMessage != "")
{
    <table>
        <tr>
            <td>
                <h1 class="text-danger">There was an error in the app</h1>
            </td>
        </tr>
        <tr>
            <td>
                <h1 class="text-danger">@ErrorMessage</h1>
            </td>
        </tr>
    </table>
    return;
}
<main>
    <BasicStyleComponent>
        @ChildContent
    </BasicStyleComponent>
    
</main>
@if (_messageOpened)
{
    <MessageBoxBlazor CloseClicked="ClosePopupAsync" Message="@_messageShown" />
}